.tableTitle {
    text-transform: uppercase;
    font-size:15px;
    font-family: "Roboto Condensed", Arial, Helvatica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #666;
    line-height: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #999;
}
/*
.tableHeaders {
    text-align: right;
    text-transform: uppercase;
    font-size:15px;
    font-family: "Roboto Condensed", Arial, Helvatica, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #666;
    line-height: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #999;
}

*/
.tableHeaders {
    text-transform: uppercase;
    padding-left: 30px;
    text-align: center;
    vertical-align: top;
}

.time {
    padding-left: 30px;
    text-align: center;
    vertical-align: top;
}

